.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#leader-grid {
  margin: 2rem;
}

.stat-section {
  border-color: black;
  margin: 0 auto;
  width: 30%;
}

.game-button {
  margin-bottom: 20px;
}

#login-modal {
  margin: 0 auto;
  top: 30% !important;
  left: 20% !important;
  right: 20% !important;
  overflow: hidden !important;
}

#register-modal {
  margin: 0 auto;
  top: 10% !important;
  left: 20% !important;
}
