a,
h4,
h2,
div {
  font-family: "Overpass", sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#leader-grid div.column {
  margin-top: 10px;
}

.stat-section {
  margin: 0 auto;
  width: 30%;
  padding-bottom: 10px;
}

.stat-section div.column {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  font-size: 18px !important;
}

#deets div.column {
  margin: 0px;
}

#my-stats-section {
  margin: 0 auto;
  width: 30%;
}

#deets div.two.column.row {
  padding: 2px !important;
}

#deets {
  margin: 0 auto;
}

.button.ui.button.game-button {
  margin: 10px !important;
  width: 300px;
}

#logo {
  height: 50px;
}

#login-modal {
  margin: 0 auto;
  top: 30% !important;
  left: 20% !important;
  right: 20% !important;
  overflow: hidden !important;
}

#sign-up {
  margin: 0 auto;
  top: 30% !important;
  left: 35% !important;
}

#dead-modal {
  top: 30%;
}

#score-modal {
  top: 30%;
}

#navbar {
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

#mapquiz-link {
  font-size: 4rem !important;
  font-weight: 600;
  text-shadow: 3px 4px #d8dad9;
  position: left;
  text-align: left !important;
  margin-left: 0.5em;
  border-radius: 0;
  align-self: flex-end;
  padding: 10px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: inherit;
  -webkit-box-direction: inherit;
  float: left;
}

#mapquiz-link.active {
  border-color: #4a9fda;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#mapquiz-link:hover {
  border-color: #59b3f0;
}

.nav-link {
  font-size: 1.5rem !important;
  margin-top: 1rem !important;
  padding: 14px !important;
  float: right;
  box-shadow: none;
  font-weight: 700;
  border-radius: 0;
  align-self: flex-end;
  transition: color 0.1s ease;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: inherit;
  -webkit-box-direction: inherit;
}

a.nav-link:hover {
  color: #59b3f0 !important;
  border-color: #59b3f0;
}

.nav-link.active {
  border-color: #4a9fda;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#login-button {
  border: none;
  border-radius: 5px;
  margin: 14px !important;
  box-shadow: 0 0 0 2px #009fda inset !important;
}

#logout-button {
  border: none;
  border-radius: 5px;
  margin: 14px !important;
  box-shadow: 0 0 0 2px #009fda inset !important;
}

#login-button:hover {
  box-shadow: 0 0 0 2px #59b3f0 inset !important;
}

#logout-button:hover {
  box-shadow: 0 0 0 2px #59b3f0 inset !important;
}

#city {
  height: 59px;
}

#city-row {
  left: 8% !important;
}

#next-button {
  right: 10% !important;
  transition: 3s;
}

#distance-away {
  margin-top: 8px;
  color: red;
  width: 84%;
}

.progress {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
}

.progress.vertical {
  position: relative;
  width: 80px;
  height: 600px;
  display: inline-block;
  margin-right: 10px;
  background: #a8a8a8;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress.vertical > .progress-bar {
  width: 80px;
  position: absolute;
  bottom: 0;
}

.progress-bar {
  float: left;
  width: 80px;
  height: 100%;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: #e94336;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

#game-grid {
  margin: 0 auto;
}
