:root {
  --mapquizblue: #009fda;
  --bluehover: #00b2f4;
  --backgroundlight: #f7f7f7;
  --progressgrey: #a8a8a8;
  --lightgrey: #c1c1c1;
  --progressred: #e94336;
}
a,
h4,
h2,
div {
  font-family: "Overpass", sans-serif !important;
}

.App {
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.nav-link {
  font-size: 1.5rem !important;
  margin-top: 1rem !important;
  padding: 14px !important;
  box-shadow: none;
  font-weight: 700;
  border-radius: 0;
  transition: color 0.1s;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: inherit;
  -webkit-box-direction: inherit;
}

.nav-link:hover {
  color: var(--bluehover) !important;
  border-color: var(--bluehover);
}

.nav-link.active {
  border-color: var(--mapquizblue);
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#logo {
  height: 55px;
  margin-right: 10px;
}

.nav-title {
  padding: 0px !important;
}

.nav-title:active {
  border-color: var(--mapquizblue);
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.nav-title:hover {
  border-color: var(--bluehover);
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  width: 70%;
  margin-bottom: 20px;
}

.video-container {
  max-width: 500px;
}

.user-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.ui.form {
  width: 350px;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.form-inputs-container div {
  margin: 10px;
}

.form-labels-container input {
  padding: 30px;
}

.form-label {
  margin-top: 1px;
  margin-bottom: 0px;
  margin-right: 20px;
  padding-top: 22px;
  padding-bottom: 21px;
  text-align: left;
}

.form-input {
  margin-bottom: 20px;
  padding: 3px;
  padding: 4px;
  border: 1px solid var(--darkgrey);
  font-size: 20px;
  color: var(--darkblue);
  width: 300px;
}

#leader-grid div.column {
  margin-top: 10px;
}

.stat-section {
  margin: 0 auto;
  width: 30%;
  padding-bottom: 10px;
}

.stat-section div.column {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  font-size: 18px !important;
}

#deets div.column {
  margin: 0px;
}

#my-stats-section {
  margin: 0 auto;
  width: 30%;
}

#deets div.two.column.row {
  padding: 2px !important;
}

#deets {
  margin: 0 auto;
}

.button.ui.button.game-button {
  margin: 10px !important;
  width: 300px;
}

.btn {
  color: var(--backgroundlight) !important;
  transition: background-color 0.3s ease !important;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
}

.affirm {
  background-color: var(--mapquizblue) !important;
}

.affirm:hover,
.affirm:active,
.affirm:focus {
  background-color: var(--bluehover) !important;
}

.deny {
  background-color: var(--progressgrey) !important;
}

.deny:hover,
.deny:active,
.deny:focus {
  background-color: var(--lightgrey) !important;
}

#sign-up {
  margin: 0 auto;
  top: 30% !important;
  left: 35% !important;
}

.ui.modal {
  top: 35% !important;
  left: 65% !important;
}

.game-over {
  flex-direction: row;
  max-width: 500px;
}

.game-over-actions {
  display: flex;
  white-space: nowrap;
}

.game-over-btn {
  color: var(--mapquizblue) !important;
}

.modal-text {
  text-align: center;
}

#city {
  height: 59px;
}

#city-row {
  left: 8% !important;
}

#next-button {
  right: 10% !important;
  transition: 3s;
}

#distance-away {
  margin-top: 8px;
  color: var(--progressred);
  width: 84%;
}

.progress.vertical {
  position: relative;
  width: 80px;
  height: 600px;
  display: inline-block;
  margin-right: 10px;
  background: var(--progressgrey);
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: var(--backgroundlight);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress.vertical > .progress-bar {
  width: 80px;
  position: absolute;
  bottom: 0;
}

.progress-bar {
  float: left;
  width: 80px;
  height: 100%;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: var(--progressred);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

#game-grid {
  margin: 0 auto;
}
